<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
    <link href="../styles.css" rel="stylesheet">
    <title>memo</title>
</head>
<body>
    <h1>設定</h1>
    画面の左端から<input id="task-position-x" type="number" value="<%= settings['taskPosition'][0] %>">px <br>
    画面の上端から<input id="task-position-y" type="number" value="<%= settings['taskPosition'][1] %>">px <br>
    フォントサイズ
    <select id="fontSize">
        <% var baseFontSize = 16; %>
        <% for (let i = 0; i < 4; i++) { %>
            <option value="<%= baseFontSize * (2 ** i) %>"<% if (settings.taskFont ==  baseFontSize * (2 ** i)) { %> selected <% } %>><%= baseFontSize * (2 ** i) %></option>
        <% } %>
    </select> <br>
    行の間隔<input id="lineSpacing" type="number" value="<%= settings['lineSpacing'] %>">px <br>
    <button id="backToMainWindow" type="button">キャンセル</button>
    <button id="saveSettings" type="button">保存</button>
    <!-- You can also require other files to run in this process -->
    <script src="../settingsRenderer.js"></script>
</body>
</html>